<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Descubre un Amiibo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #myForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-item>
            <ion-label position="floating">Nombre del Amiibo</ion-label>
            <ion-input [ngModel]="Nombre" name="nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label>AmiiboSeries</ion-label>
              <ion-select #serie (ionChange)="select($event)">
                <ion-select-option value=""></ion-select-option>
                <ion-select-option
                  *ngFor="let prop of amiiboProps.amiiboSeries"
                  [value]="prop"
                  >{{prop}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col></ion-col>
        <ion-col class="ion-text-center">
          <ion-button color="primary" (click)="buscar()"> Buscar </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col
        *ngFor="let mii of amiiboBuscado"
        size="6"
        class="ion-text-center"
      >
        <ion-card>
          <ion-card-content>
            <ion-card-subtitle>Mii Nombre: {{mii.name}}</ion-card-subtitle>
          </ion-card-content>
          <div class="container">
            <img class="image" [src]="mii.image" />
            <div class="middle">
              <div class="text">{{mii.amiiboSeries}}</div>
              <ion-button size="small" color="light" (click)="amiiboService.agregar(mii)">Add</ion-button>
            </div>
          </div>
          <ion-card-content>
            <ion-card-subtitle> </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
