<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="contestar">
        <ion-icon name="star"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="descubrir">
        <ion-icon name="search"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="comprar">
        <ion-icon name="basket"></ion-icon>
        <ion-label></ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
