<ion-app>
  <ion-menu side="start" menuId="menu1">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>
          Mii App
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>

          <ion-item routerLink="/tabs/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Mii Inicio</ion-label>
          </ion-item>

          <ion-item routerLink="/tabs/contestar">
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Soy Amiibo</ion-label>
          </ion-item>

          <ion-item routerLink="/tabs/descubrir">
            <ion-icon name="search" slot="start"></ion-icon>
            <ion-label>Descubre un Amiibo</ion-label>
          </ion-item>

          <ion-item routerLink="/tabs/comprar">
            <ion-icon name="basket" slot="start"></ion-icon>
            <ion-label>Compra tu Amiibo</ion-label>
          </ion-item>

          <ion-item routerLink="/tabs" (click)="onLogout()">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

</ion-app>
