<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Soy Amiibo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" *ngIf="!amiiboService.isLoading">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>¿Que Amiibo eres?</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let photo of photoService.photos; index as position">
      <ion-col size="6">
        <ion-img
          [src]="photo.webviewPath"
          (click)="showActionSheet(photo, position)"
        ></ion-img>
      </ion-col>
      <ion-col size="6">
        <div class="container">
          <img class="image" width="45%" [src]="amiibo[position].image" />
          <div class="middle">
            <div class="text"></div>
            <ion-button size="small"
              color="light"
              (click)="amiiboService.agregar(amiibo[position])"
              >Add</ion-button
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="photoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
