<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Compra tu Amiibo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!amiiboService.isLoading">
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!amiiboService.amiiboCompra[0]">
        <div class="ion-text-center">
          <h3>No hay articulos en el carrito</h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col
        *ngFor="let mii of amiiboService.amiiboCompra"
        size="12"
        class="ion-text-center"
      >
        <ion-list>
          <ion-item-sliding>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img [src]="mii.image"></ion-img>
              </ion-avatar>
              <ion-label>
                <p>{{mii.name}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                (click)="amiiboService.remover(mii)"
                color="danger"
                >Borrar</ion-item-option
              >
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
