<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mii Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Bienvenido a Mii App</h2>
        <h3>Amiibo del Mes:</h3>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!amiiboService.isLoading">
      <ion-col></ion-col>
      <ion-col size="8">
        <ion-card>
          <ion-card-content>
            <ion-card-title>Mii Nombre: {{amiibo[month].name}}</ion-card-title>
          </ion-card-content>
          <div class="container">
          <img class="image" [src]="amiibo[month].image" />
          <div class="middle">
            <div class="text">{{amiibo[month].amiiboSeries}}</div>
            <ion-button size="small" color="light" (click)="amiiboService.agregar(amiibo[month])">Add</ion-button>
          </div>
        </div>
          <ion-card-content>
            <ion-card-subtitle>  </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
